// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//Colors we picked on Figma, Let's try to use MAX 2 for now
$main-blue: #364F6B;
$light-blue: #3FC1C9;
$green-blue: #00909E;
$lighter-gray: #F5F5F5;
$blue-gray: #475361;
$red-pink: #EA084B;
// $cool-red: #FF0033;
$cool-red: #F80447;
