// Specific CSS for your home-page
body {
}

.flex-box-card {
  position: relative;
  a {
  position: absolute;
  }
}

.position {
  position: relative;
  h1 {

  }
  h3 {

  }
}

.box-flex {
  display: flex;
}
