// Specific CSS for your home-page
body {
}

.flex-box-card {
  position: relative;
  a {
  position: absolute;
  }
}

.position {
  position: relative;
  h1 {

  }
  h3 {

  }
}

.box-flex {
  display: flex;
}

.flex-footer {
  display: flex;
  i.fab {
    justify-content: space-around;
  }
}

.banner-card-home-content {
  h5 {
    line-height: 28px;
    font-size: 21px;
  }
}
