<div class="container form-container">
  <%= simple_form_for([@event, @event_user]) do |f| %>
      <%= f.input :motivation, placeholder: "Enter your text here...", class: "motivation-text"%>
      <%= f.submit "APPLY", class:"motivation-btn", id: "anchor"%>
    <% end %>
</div>
