
<div class="form-container">
  <%= simple_form_for([@event, @event_user]) do |f| %>
      <%= f.input :motivation, label: false, placeholder: "Enter your text here...", input_html: { maxlength: "500"}, class: "motivation-text"%>
      <%= f.submit "APPLY", class:"motivation-btn", id: "anchor"%>
    <% end %>
</div>

