<div class="navbar mobile-navbar-top">
  <div class="container">
    <div>
      <%= link_to root_path, class: "navbar-top-logo" do %>
        <i class="fas fa-feather-alt"></i>
      <% end %>
    </div>
  <div class="prettybrand d-flex">
    <h3 style="font-weight: 600;">D</h3>
    <h3 style="font-weight: 300;">iscomfort</h3>
    <h3 style="font-weight: 600;">Z</h3>
    <h3 style="font-weight: 300;">one</h3>
  </div>
  <h3></h3>
  </div>
</div>
