<div class="mobile-navbar navbar">
  <div class="navbar-link"><i class="fa fa-heart" aria-hidden="true"></i></div>
  <div class="navbar-link"><i class="fa fa-heart" aria-hidden="true"></i></div>
  <div class="navbar-link"><i class="fa fa-heart" aria-hidden="true"></i></div>
  <div class="navbar-link"><i class="fa fa-heart" aria-hidden="true"></i></div>
</div>
