.applicant {
  color: #261862;
  font-size: 21px;
  font-family: "Signika";
  font-weight: 100;
}

.tab-menu {
  justify-content: space-around;
}
.nav-item {
    color: #475361;
    .nav-link  {
     color: #475361;
     padding: 8px;
     border-radius: 0;
    }
    .nav-link.active {
      color: $main-blue;
      border-bottom: 3px solid $cool-red;
      background-color: transparent;
    }
}


.applicant-message {
  font-size: 16px;
  // font-style: italic;
  color: #3A4047;
}

// h4 {
//   color: black;
//   font-size: 28px;
// }

// .participants-avatar {
//       height: 50px;
//       width: 50px;
//       border-radius: 50%;
//       z-index: 0;
//       right: 34px;
//       box-shadow: 0 0 15px rgba(0,0,0,0.2);
//       background-position: center;
//       background-size: cover;
// }

.avatar-always-round {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}

#no-pic-avatar{
      position: absolute;
      top:-22px;
      right:34px;
      display: inline-block;
    }

.applicants-container {
  text-align: center;
}

.decider {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  width: 70%;
  margin: 20px auto 0;
}

// #check {
//   margin-right: 5px;
// }

// #decline {
//   margin-left: 5px;
// }



.decision {
  border-radius: 25px;
  padding: 4px 8px;
  width: fit-content;
  font-size: 16px;
  color: white;
  margin: 0 auto;
  position: absolute;
  top: -13px;
  right: 25px;
  &.accepted{
    background: $red-pink;
  }
   &.rejected{
    background: $grayish-blue;
  }
   &.applied{
    background: $orange;
  }
}

.card-body {
  display: flex;
}

.no-gutters {
  margin-right:0;
  margin-right:0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.motivation-btn{
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  p {
    margin-bottom: 0;
    color: white;
    font-size: 16px;
  }
}


