

h1, h2 {
  margin-left: 15px;
}

.buttons {
  margin-left: 15px;
  display: flex;
  .btn {
   border-radius: 40px;
   margin: 5px;
 }
}

#no-pic-avatar-index {
  text-align: center;
  vertical-align: middle;
  line-height: 56px;
  color: white;
  font-size:15px;
  letter-spacing: 1px;
}

.banner-index2 {
  width: 90%;
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 0 0;
  margin: 0 auto;
}

.container .text-center {
  padding: 0;
}
