 .container-event-box img {
    top: $top-navbar-height;
    position: fixed;
    width:100%;
    z-index: -1;
  }
  .description-box {
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    margin-top: calc(30vh + 50px);
    position:relative;
    .avatar {
      width: 40px;
      border-radius: 50%;
      position: absolute;
      top: -22px;
      z-index: 0;
      right: 34px;
}

  }
