.container-box {
  width: 100vw;
}
.image-box {
  position: sticky;
  top:0;
  z-index: -1;
}
  img {

    width:100%;

  }
  .description-box {
    background-color: white;
    border: 2px solid green;
    border-radius: 10px 10px 0px 0px;
    position: relative;
  }
 .avatar {
      position:absolute;
      border:3px solid yellow;
    }
  .description {
    color:red;
  }
