<!--<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>-->
<!-- id of divers picture: 'a61syh4mku08aquxrbi9' -->

<div class="banner-home" style="background-image: url(https://images.unsplash.com/photo-1483428400520-675ef69a3bc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80);">
  <div class="container-banner">
    <div class="position">
      <h4 class="text-center" id="home-banner-text"> Venture out of your comfort zone </h4>
      <div class="button-centered">
        <a class="btn btn-cool-red" href="/events"> Find Adventures </a>
      </div>
    </div>
  </div>
  <div class="white-cheat">
  </div>
</div>

<!-- ALL THE STUFF BELOW THE MAIN BANNER -->
<div class="container">
    <!-- <div class="scrolling-card" style="background-image: url('https://images.unsplash.com/photo-1512036666432-2181c1f26420?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80')">
      <h6>Sunset Hike</h6>
    </div> -->
    <div class="scrolling-wrapper">
      <h3>Latest Additions</h3>
        <div class="listed-events">
          <% @last_events.each do |event| %>
            <%= link_to event_path(event), style:"text-decoration: none;" do  %>
             <div class="event-card" style = " background-image: url(<%= cl_image_path event.photo.key %>);">
              <h6><%= event.title.capitalize %></h6>
            </div>
          <% end %>
        <% end %>
        </div>

  </div>

  <!-- SECONDARY CALL TO ACTION -->
  <div class="banner-card-home-container">
    <div class="banner-card-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1522098635833-216c03d81fbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80);">
      <div class="banner-card-home-content">
        <h5 class="text-blue">Want to organize an adventure and recruit people to join you?</h5>
        <a class="btn-ghost-square-red" href="/events/new"> List an Adventure </a>
      </div>
    </div>
  </div>
</div>
<br>

<!-- EX FOOTER - PROBABLY WONT BE IN THE HOME AFTER ALL
<div class="footer-main d-flex justify-content-between align-items-center">
  <div class="flex-footer">
    <i class="fab fa-instagram" aria-hidden="true"></i>
    <i class="fab fa-facebook" aria-hidden="true"></i>
    <i class="fab fa-twitter" aria-hidden="true"></i>
    <i class="fab fa-github" aria-hidden="true"></i>
  </div>
  <p>Your best life begins at the end of your comfort zone.</p>
</div>
-->

