<!--<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>-->

<div class="banner" style="background-image: url(<%= cl_image_path 'disjq7ci8hjkpc4odri1' %>);">
  <div class="container">
    <div class="position">
      <h1 class="text-center"> THE DISCOMFORT ZONE </h1>
      <h3> Where people say YES to adventures </h3>
    </div>
  </div>
</div>

<br>
<br>

<div class="banner-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path 'a61syh4mku08aquxrbi9' %>);">
  <div class="flex-box-card">
    <a class="btn btn-gradient" href="/events"> FIND YOUR NEXT ADVENTURE </a>
  </div>
</div>

<br>
<br>

<div class="banner-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path 'zlgusakfycm1iirsp6ks' %>);">
  <div class="container">
    <a class="btn btn-gradient" href="/events/new"> CREATE AN EVENT </a>
  </div>
</div>

<br>
<br>

<div class="container">
  <h1> Meet Discomfort-Zoners : </h1>
</div>

<div class="container">
  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" placeholder="Find your people" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>
</div>

<br>

<div class="container">
  <div class="box-flex">
    <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm">
  </div>
</div>

<br>
<br>

<div class="container">
  <h1 class="text-center"> GET INSPIRED : </h1>
</div>

<br>
<br>


