<!--<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>-->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random);">
  <div class="container">
    <h1> THE DISCOMFORT ZONE </h1>
    <h3> Where people say YES to adventures </h3>
  </div>
</div>

<br>
<br>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random);">
  <div class="container">
    <a class="btn btn-gradient" href="#"> FIND YOUR NEXT ADVENTURE </a>
  </div>
</div>

<br>
<br>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random);">
  <div class="container">
    <a class="btn btn-gradient" href="#"> CREATE AN EVENT </a>
  </div>
</div>

<br>
<br>

<div class="container">
  <h1> Meet fellow Discomfort-Zoners </h1>
</div>

<div class="container">
  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" placeholder="Find your people" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>
</div>

<br>
<br>

<div class="container">
  <h1> GET INSPIRED </h1>
</div>

<br>
<br>
<div class="box">
      <p> THE DISCOMFORT ZONE </p>
    </div>

