.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-large {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}
.avatar-bordered {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: cover;
}
.avatar-square {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: cover;
}

// JUST GIVE THIS CLASS TO AN EMPTY DIV AND SET THE PICTURE AS ITS BACKROUND IMAGE hehehe
.avatar-always-round {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  object-fit: cover;
}
.host-avatar-no-picture {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
  color: white;
  font-size:20px;
  letter-spacing: 1px;
}
.reviewer-avatar {
    margin-right: 10px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-position: center;
    background-size:cover;
  }
  #reviewer-avatar-no-pic {
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  color: white;
  font-size:10px;
  letter-spacing: 1px;
}
.host-avatar {
  height: 95px;
  width: 95px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid #F80447;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.participant-avatar {
  height:54px;
  width: 54px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
// EVENT INDEX AVATAR NO PIC
#no-pic-avatar-index {
  text-align: center;
  vertical-align: middle;
  line-height: 56px;
  color: white;
  font-size:30px;
  letter-spacing: 1px;
}
// EVENT SHOW AVATAR NO PIC
  // For HOST
#no-pic-avatar-event-show {
  height: 95px;
  width: 95px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  vertical-align: middle;
  line-height: 95px;
  color: white;
  font-size: 25px;
  letter-spacing: 1px;
}
  // For participants
  #participant-no-pic-event-show{
  height: 54px;
  width: 54px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  vertical-align: middle;
  line-height: 54px;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;

  }








