.banner-home {
  background-size: cover;
  background-position: center;
  box-shadow: 2px 5px 12px 3px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding-top: 300px;
  padding-bottom: 30px;
  border-radius: 0 0 30px 30px;
  h4 {
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 35px;
  margin-bottom: 10px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  padding: 0px 30px;
  }
}

.banner-index {
  background-size: cover;
  background-position: 80% 80%;
  box-shadow: 2px 5px 12px 3px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0 0;
  h1 {
  font-weight: 600;
  font-size: 25px;
  margin: 20px 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  }
  h3 {
  font-weight: 400;
  font-size: 18px;
  color: white;
  opacity: 0.8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  }
  .form-control {
    background-color: rgba(255,255,255,0.45);
    border: none;
  }
  ::placeholder {
    // font-family: lato, sans-serif;
    opacity: 1;
  }
}

.banner-secondary-cta {
  text-align: center;
  h3 {
    color: $main-blue;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
  }
}


.banner-card {
  background-size: cover;
  background-position: 50% 45%;
  padding-top: 150px;
  padding-bottom: 50px;
  border-radius: 8px;
  box-shadow: 0 5px 10px 0 rgba(51, 51, 51, .2);
  margin: auto;
  margin-bottom: 20px;

  width: 100%;
  // height: 35vh;
  transition: transform .2s;
  overflow: hidden;
  text-align: center;
  &:hover {
  transform: scale(1.01);
  box-shadow: 0 5px 10px 0 rgba(51, 51, 51, .6);
  filter: saturate(110%);
  }
  h3 {
    color: white;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 20px;
  }
  h5 {
  font-weight: 400;
  color: white;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
  margin-bottom: 20px;
  }

}

.banner-card-sm {
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 10px 0 rgba(51, 51, 51, .2);
  margin: 0 auto;
  width: 80%;
  height: 30vh;
  transition: transform .2s;
  overflow: hidden;
  &:hover {
  transform: scale(1.03);
  box-shadow: 0 5px 10px 0 rgba(51, 51, 51, .6);
  }
}

.banner-card-home-container {
  position: relative;
}

.banner-card-home {

  background-size: cover;
  background-position: 50% 100%;
  // padding-top: 150px;
  // padding-bottom: 150px
  border-radius: 25px;
  box-shadow: 0 5px 10px 0 rgba(51, 51, 51, .2);
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
  height: 60vh;
  transition: transform .2s;
  overflow: hidden;
  text-align: center;


}
.banner-card-home-content {
  width: 85%;
  margin: auto;
  background-color: white;
  text-align: center;
  position: absolute;
  border-radius: 25px;
  top: 75%;
  left: 7.5%;
  padding: 30px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .25);
  h5 {
  color: rgb(75,75,75);
  font-weight: 400;
  font-spacing: 2px;
  line-height: 35px;
  margin-bottom: 20px;
  }
  a {
  }
}
