.cards-container { // The mother container of the cards
display: grid;
grid-template-columns: 1fr;
grid-gap: 16px;
padding: 2px;
  .event-card {  // The whole card, picture + description
    margin: 20px;
    .entire-card {
      display: block;
      width: 100%;
    }
    // Making this a 100%, so that the Event Title and Avatar are properly spaced-out
    .card-headder {
      width: 100%;
      display: flex;
      position: relative;
      justify-content: space-between;
      margin-bottom: 3%;
    }
    .avatar-large {
      position: absolute;
      top: -8px;
      right: -14px;
    }
    // TO GET RID OF THE UNDERLINE WHEN HOVERING
    a:hover {
      text-decoration: none;
    }
    .card-category { // Upper part of the card -> Background picture + Event name
      background-size: cover;
      background-position: center;
      height: 240px;
      border-radius: 6px 6px 0px 0px;
      box-shadow: 2px 2px 12px rgba(10,10,10,0.25);
      position: relative;
      i {
        position: absolute;
        right: 20px;
        top: 16px;
      }
    }
    .cards-description { // Lower part of the card -> description on the left
      //display: flex;
      position: relative;
      padding: 30px;
      border-radius: 30px;
      margin-top: -30px;
      background-color: white;
      box-shadow: 2px 2px 12px rgba(10,10,10,0.25);
      .cards-text { // Description on the left
        width: 100%;
        i {
          margin-right: 10px;
        }
        > h5 {
            font-size: 21px;
            font-weight: 100;
            color: $grayish-blue;
            line-height: 22px;
            }
          h4.event-title {
            letter-spacing: normal;
            color: $purple-blue;
            font-size: 30px;
            width: 85%;
            line-height: 30px;
          }
      }
    }
  }
}
i.fa-heart { // Favicon on the rightr
  z-index: 3;
  font-size: 31px;
  color: $red-pink;
}
.scrolling-wrapper {
  margin: 20px 0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  .scrolling-avatar {
    display: inline-block;
    position: relative;
  }
}
.heart-link{
  z-index: 2;
}
.link-0-0 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
#no-pic-avatar-index {
  text-align: center;
  vertical-align: middle;
  line-height: 56px;
  color: white;
  font-size:30px;
  letter-spacing: 1px;
}
