.centered-text {
  text-align: center;
}

.text-blue {
  color: $main-blue;
}

.text-red {
  color: $cool-red;
}

h1 {
  font-size: 89px;
  color: $main-blue;
}

h2 {
  font-size: 67px;
  color: $main-blue;
}

h3 {
  font-size: 50px;
  color: $main-blue;
}
h4 {
  font-size: 40px;
  letter-spacing: 2px;
  color: $main-blue;
}

h5 {
  font-size: 24px;
  color: $main-blue;
}

h6 {
  font-size: 21px;
  color: $main-blue;
}
p {
  font-size: 16px;
}
