.message-container {
  position: relative;
  background: rgb(224, 224, 224);
  border-radius: .4em;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.82);
  box-shadow: 0 0 20px rgba(224, 224, 224, 1);
  border: none;
  padding-top: 17px;
  padding-bottom: 1px;
  margin-bottom: 20px;
  h4 {
    margin-top:15px;
    margin-bottom: 20px;
  }
  p {
    margin-top: -7px;
    margin-left: 35px;
  }
  .avatar-time-boox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.message-container-new {
  .message-user {
    padding-left: 24px;
    margin-bottom: 0;
    font-size: 12px;

  }
  .message-content {
  max-width: 75%;
  padding: 8px 24px;
  color: white;
  background-color: $main-blue;
  margin-bottom: 0;
  border-radius: 25px;
  }
  .message-timestamp {
    color: rgb(100,100,100);
    font-size: 10px;
    padding-left: 24px;
  }
}


.go-back-wrapper {
  display: flex;
  align-items: center;
  color: $main-blue;
  margin-bottom: 20px;
  i {
    font-size: 25px
  }
  h4 {
    color: $main-blue;
    margin: 0;
    margin-left: 5px;
  }
}


