.mobile-navbar-top{
  display: flex;
  justify-content: space-between;
  align-items: end;
  // padding: 25px 0;
  height: $top-navbar-height;
  width: 100vw;
  background: white;
  border-bottom: 1px solid rgb(211,211,211);
  #navbar-letter-d{
    color: $cool-red;
    font-weight: 600;
    margin-left: 0;
  }
  #navbar-letter-z{
  color: $cool-red;
  font-weight: 600;
  transform: scaleX(-1);
  margin-left: 0;
  }
}

.mobile-navbar-top-concept{
  position:fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 25px 0;
  height: $top-navbar-height;
  width: 100vw;
  background: transparent;
  // border-bottom: 1px solid rgb(211,211,211);
  #navbar-letter-d{
    color: white;
    font-weight: 600
  }
  #navbar-letter-z{
  color: white;
  font-weight: 600;
  transform: scaleX(-1);
  margin-left: 0;
  }
}

.fixed {
  position:fixed;
  top:0;
}

@media all and (min-width: $navbar-break-point) {
  .mobile-navbar-top {

    display: none;
  }
}
