.mobile-navbar-bottom{
  display: flex;
  justify-content: space-around;
  // padding: 25px 0;
  height: $mobile-navbar-height;
  position: fixed;
  width: 100vw;
  bottom: 0;
  background: white;
  border-top: 1px solid rgb(211,211,211);
  .navbar-link {
    color: $cool-red;
    i {
      font-size: 30px;
    }
  }
}

.navbar-link:hover {
  color: $light-blue;
}

@media all and (min-width: $navbar-break-point) {
  .mobile-navbar-bottom {

    display: none;
  }
}
