.message-container {
  position: relative;
  background: rgb(224, 224, 224);
  border-radius: .4em;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.82);
  box-shadow: 0 0 20px rgba(224, 224, 224, 1);
  border: none;
  padding-top: 17px;
  padding-bottom: 1px;
  margin-bottom: 20px;
  h4 {
    margin-top:15px;
    margin-bottom: 20px;
  }
  p {
    margin-top: -7px;
    margin-left: 35px;
  }
  .avatar-time-boox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}


