<h4>Add a review</h4>
<%= simple_form_for([@event, @review]) do |f| %>
    <%= f.input :content, label: 'Add your review',required: "true", error: 'Please specify one'%>
    <%= f.input :rating, label: 'Add a rating', required: "true", error: 'Please specify one', input_html: { min: 0, max: 5  } %>
    <%= f.button :submit, class: "btn btn-cool-red review-btn-wide"%>
  <% end %>
